<h1 class=" p-4">
  Stash
</h1>
<!-- Start: Body -->
<div class="container">
  <form>
    <div class="row form-row" >
      <div class="col-lg-2">
        <label class="col-form-label">Item Name</label>
      </div>
      <div class="col form-col">
        <input class="form-control flex-grow-1 flex-shrink-1 flex-fill flex-wrap" type="text" required="" name="itemname" placeholder="Item Name" />
      </div>
      <div class="col-lg-2 d-xl-flex justify-content-xl-end align-items-xl-start">
        <label class="col-form-label img-label">Images</label>
      </div>
      <div class="col form-col">
        <input class="form-control form-border" type="file" /><img />
      </div>
      <div class="w-100"></div>
    </div>
    <div class="row form-row">
      <div class="col-lg-2" >
        <label class="col-form-label">Description</label>
      </div>
      <div class="col-lg-5">
        <textarea class="form-control textarea form-border" name="description" placeholder="Description"></textarea>
      </div>
      <div class="col-lg-1 justify-content-end align-content-end">
        <label class="col-form-label">Tags</label>
      </div>
      <div class="col form-col">
        <input class="form-control form-border" type="text" autocomplete="on" autofocus="" name="tags" placeholder="Tags" /><button
          class="btn btn-primary m-2" type="button" >
          Tag
        </button>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-lg-2" style="height: 41px">
        <label class="col-form-label" style="color: var(--bs-black)">Category</label>
      </div>
      <div class="col form-col">
        <input class="form-control" type="text" autocomplete="on" autofocus=""
          style="margin: 3px; border-color: var(--bs-blue)" name="category" placeholder="Category" /><button
          class="btn btn-primary" type="button" style="margin: 5px">
          Category
        </button>
      </div>
      <div class="col-lg-2">
        <label class="col-form-label" style="margin-left: 46px; color: var(--bs-black)">Location</label>
      </div>
      <div class="col form-col">
        <input class="form-control" type="text" autocomplete="on" autofocus=""
          style="margin: 5px; border-color: var(--bs-blue)" name="location" placeholder="Location" /><button
          class="btn btn-primary" type="button" style="margin: 5px">
          Location
        </button>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-2">
        <label class="col-form-label" style="color: var(--bs-black)">Store</label>
      </div>
      <div class="col form-col">
        <input class="form-control" type="text" style="margin: 3px; border-color: var(--bs-blue)" autocomplete="on"
          name="store" placeholder="Store" />
      </div>
      <div class="col-md-2">
        <label class="col-form-label" style="margin-left: 80px; color: var(--bs-black)">Cost</label>
      </div>
      <div class="col form-col">
        <input class="form-control" type="text" style="margin: 3px; border-color: var(--bs-blue)" autocomplete="on"
          name="cost" value="$" placeholder="Cost" />
      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-2">
        <label class="col-form-label" style="color: var(--bs-black)">URL</label>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="url" style="border-color: var(--bs-blue)" name="url" placeholder="URL" />
      </div>
    </div>
    <div class="row form-row" s>
      <div class="col-md-5 col-lg-3" style="padding: 5px">
        <label class="col-form-label" style="color: var(--bs-black)">Add to Shopping list</label>
      </div>
      <div class="col corm-col">
        <div class="form-check form-switch" style="margin: 3px; color: var(--bs-black)">
          <input class="form-check-input" type="checkbox" id="formCheck-1" style="border-color: var(--bs-blue)" /><label
            class="form-check-label" for="shopping" style="color: var(--bs-black)">Shopping</label>
        </div>
        <div class="form-check form-switch" style="margin: 3px">
          <input class="form-check-input" type="checkbox" id="formCheck-2" style="border-color: var(--bs-blue)" /><label
            class="form-check-label" for="lowstock" style="color: var(--bs-black)">Low Stock</label>
        </div>
      </div>
    </div>
    <div class="row form-row" style="margin-top: 8px; margin-bottom: 12px">
      <div class="col-md-5 col-lg-3 pad">
        <label class="col-form-label" >Add to Project</label>
      </div>
      <div class="col form-col">
        <select class="form-select" name="addtoproject">
          <optgroup label="This is a group">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="row form-row">
      <div class="col form-col">
        <button class="btn btn-primary" type="submit" style="margin: 3px">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
