<h1 class=" p-4">
  Stash
</h1>
<!-- Start: Body -->
<div class="container">
  <form>
    <div class="row form-row" >
      <div class="col-lg-2">
        <label class="col-form-label">Item Name</label>
      </div>
      <div class="col form-col">
        <input class="form-control flex-grow-1 flex-shrink-1 flex-fill flex-wrap form-border" type="text" required="" name="itemname" placeholder="Item Name" />
      </div>
      <div class="col-lg-2 d-xl-flex justify-content-xl-end align-items-xl-start">
        <label class="col-form-label img-label">Images</label>
      </div>
      <div class="col form-col">
        <input class="form-control form-border" type="file" /><img />
      </div>
      <div class="w-100"></div>
    </div>
    <div class="row form-row">
      <div class="col-lg-2" >
        <label class="col-form-label">Description</label>
      </div>
      <div class="col-lg-5">
        <textarea class="form-control textarea form-border" name="description" placeholder="Description"></textarea>
      </div>
      <div class="col-lg-1 justify-content-end align-content-end">
        <label class="col-form-label m-2">Tags</label>
      </div>
      <div class="col form-col">
        <input class="form-control form-border" type="text" autocomplete="on" autofocus="" name="tags" placeholder="Tags" /><button
          class="btn btn-primary m-2" type="button" >
          Tag
        </button>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-lg-2" >
        <label class="col-form-label" >Category</label>
      </div>
      <div class="col form-col m-2">
        <input class="form-control form-border" type="text" autocomplete="on" autofocus=""
         name="category" placeholder="Category" /><button
          class="btn btn-primary m-2" type="button">
          Category
        </button>
      </div>
      <div class="col-lg-2">
        <label class="col-form-label" >Location</label>
      </div>
      <div class="col form-col m-2">
        <input class="form-control form-border " type="text" autocomplete="on" autofocus=""
        name="location" placeholder="Location" /><button
          class="btn btn-primary pb-2" type="button">
          Location
        </button>
      </div>
    </div>
    <div class="row form-row pt-4 ">
      <div class="col-md-2">
        <label class="col-form-label" >Store</label>
      </div>
      <div class="col form-col">
        <input class="form-control form-border" type="text" autocomplete="on"
          name="store" placeholder="Store" />
      </div>
      <div class="col-md-2">
        <label class="col-form-label" >Cost</label>
      </div>
      <div class="col form-col">
        <input class="form-control form-border" type="text" autocomplete="on"
          name="cost" value="$" placeholder="Cost" />
      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-2">
        <label class="col-form-label" >URL</label>
      </div>
      <div class="col-lg-4">
        <input class="form-control form-border" type="url"  name="url" placeholder="URL" />
      </div>
    </div>
    <div class="row form-row" s>
      <div class="col-md-5 col-lg-3">
        <label class="col-form-label " >Add to Shopping List</label>
      </div>
      <div class="col corm-col">
        <div class="form-check form-switch" >
          <input class="form-check-input form-border toggle" type="checkbox" id="shopping"  /><label
            class="form-check-label" for="shopping">Shopping</label>
        </div>
        <div class="form-check form-switch " >
          <input class="form-check-input form-border toggle" type="checkbox" id="lowstock" /><label
            class="form-check-label" for="lowstock" >Low Stock</label>
        </div>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-5 col-lg-3 pad">
        <label class="col-form-label" >Add to Project</label>
      </div>
      <div class="col form-col">
        <select class="form-select" name="addtoproject">
          <optgroup label="This is a group">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="row form-row">
      <div class="col form-col">
        <button class="btn btn-primary m-3" type="submit" >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
