<div id="wrapper">
  <nav
    class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
    style="width: 219px"
  >
    <div class="container-fluid d-flex flex-column p-0">
      <a
        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
        routerLink="#"
        data-bs-target="#"
        style="
          width: 232.2px;
          padding: 10px 16px;
          padding-right: 0px;
          padding-left: 4px;
        "
        ><div class="sidebar-brand-icon rotate-n-15">
          <p
            class="text-capitalize"
            style="
              color: var(--bs-white);
              font-family: 'Dancing Script', serif;
              font-size: 20px;
              margin-top: 20px;
            "
          >
            Sewing Project Manager&nbsp;
          </p>
        </div></a
      >
      <hr class="sidebar-divider my-0" />
      <ul
        class="navbar-nav text-light"
        id="accordionSidebar"
        style="color: rgb(255, 255, 255); font-weight: bold"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/dash" style="color: rgb(255, 255, 255)"
            ><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a
          >
        </li>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stash"
            ><i class="far fa-gem"></i><span>Stash</span></a
          ><a class="nav-link" routerLink="/shopping"
            ><i class="fas fa-shopping-bag"></i><span>Shopping</span></a
          ><a class="nav-link" routerLink="/projects"
            ><i class="fas fa-th-list"></i><span>Projects</span></a
          ><a class="nav-link" routerLink="/budget"
            ><i class="fas fa-dollar-sign"></i><span>Budget</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile"
            ><i class="fas fa-user"></i><span>Profile</span></a
          ><a class="nav-link" routerLink="/login"
            ><i class="far fa-user-circle"></i><span>Login</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register"
            ><i class="fas fa-user-circle"></i><span>Register</span></a
          >
        </li>
      </ul>
      <div class="text-center d-none d-md-inline">
        <button
          class="btn rounded-circle border-0"
          id="sidebarToggle"
          type="button"
        ></button>
      </div>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <nav
        class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
        style="margin-top: 0px; padding-top: 26px; padding-bottom: 23px"
      >
        <div class="container-fluid">
          <button
            class="btn btn-link d-md-none rounded-circle me-3"
            id="sidebarToggleTop"
            type="button"
          >
            <i class="fas fa-bars"></i>
          </button>
          <form
            class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"
          >
            <div
              class="input-group"
              style="border: 1px solid var(--bs-blue)"
            >
              <input
                class="bg-light form-control border-0 small"
                type="text"
                placeholder="Search for ..."
                style="border-style: solid; border-color: var(--bs-blue)"
                name="search"
              /><button class="btn btn-primary py-0" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
          <ul class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item dropdown d-sm-none no-arrow">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                routerLink="#"
                ><i class="fas fa-search"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                aria-labelledby="searchDropdown"
              >
                <form class="me-auto navbar-search w-100">
                  <div class="input-group">
                    <input
                      class="bg-light form-control border-0 small"
                      type="text"
                      placeholder="Search for ..."
                    />
                    <div class="input-group-append">
                      <button class="btn btn-primary py-0" type="button">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1"></li>
          </ul>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>

    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright">
          <span
            style="
              font-family: 'Dancing Script', serif;
              color: var(--bs-blue);
              font-size: 16.8px;
            "
            >Copyright © Sewing Project Manager 2022</span
          ><a class="border rounded d-inline scroll-to-top" routerLink="#page-top"
            ><i class="fas fa-angle-up"></i
          ></a>
        </div>
      </div>
    </footer>
  </div>
  <a class="border rounded d-inline scroll-to-top" routerLink="#page-top"
    ><i class="fas fa-angle-up"></i
  ></a>
</div>
