.sidebar{
width: 200px;
padding: 10px 16px;
padding-right: 0px;
padding-left: 4px;
color : var(--bs-blue)
}

.sidebar-brand {
  color: var(--bs-white);
  font-family: 'Dancing Script', serif;
  font-size: 20px;
  margin-top: 20px;
}





