
<!-- Start: Body -->
<div class="container-fluid">
  <div class="m-2 ">
<h1 class=" m-2">
Sewing Project Manager
</h1>
<h3 class="m-5">
It's Around Here...Somewhere!
</h3>
</div>

<p >
  This is a project and supplies tracker for sewing projects but it
  can be used for knitting, crochet, woodworking, car parts,
  Warhammer minis, or just about any other hobby that has smaller
  projects and supplies for each one.
</p>

<p>
This can also track what items need to be purchased or what
is already "in stock" to avoid over buying which is a bad habit
of those with hobbies!
</p>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body" style="color: var(--bs-black)">
        <h4 class="card-title">Features</h4>
        <ul class="list-unstyled">
          <li>☑ Link supplies to patterns</li>
          <li>☑ Inventory of Supplies</li>
          <li>☑ Shopping List &amp; Budget</li>
          <li>☑ Sort, Search &amp; Filters</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End: Body -->
